@model Nestify.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<!-- SLIDER AREA START (slider-4) -->
<div class="ltn__slider-area ltn__slider-4">
    <div class="ltn__slide-one-active----- slick-slide-arrow-1----- slick-slide-dots-1----- arrow-white----- ltn__slide-animation-active">
        <!-- ltn__slide-item -->
        <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-4 bg-image bg-overlay-theme-black-60" data-bs-bg="img/banner-01.jpg">
            <div class="ltn__slide-item-inner text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-car-dealer-form">
                                <div class="ltn__car-dealer-form-tab">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="ltn__form_tab_1_1">
                                            <div class="car-dealer-form-inner">
                                                <form asp-action="Properties" asp-controller="Properties" method="get" class="ltn__car-dealer-form-box row">
                                                    <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-4 col-md-6">
                                                        <select class="nice-select" name="PropertyType">
                                                            <option>Property Type</option>
                                                            <option>Villa</option>
                                                            <option>Apartment</option>
                                                            <option>Roof Apartment</option>

                                                        </select>
                                                    </div>
                                                    <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6">
                                                        <select required name="LocationId" id="LocationId" class="nice-select">
                                                            <option>Location</option>
                                                            @foreach (var location in ViewBag.locations)
                                                            {
                                                                <option value="@location.Id">@location.LocationName</option>
                                                            }

                                                        </select>
                                                    </div>
                                                    <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-meter col-lg-4 col-md-6">
                                                        <select class="nice-select" name="SubLocationId" id="SubLocationId">
                                                            <option value="">Sub Location</option>
                                                          
                                                        </select>
                                                    </div>
                                                    <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-ring col-lg-4 col-md-6">
                                                        <select name="Bedrooms" class="nice-select">
                                                            <option>Bedrooms</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                        </select>
                                                    </div>
                                                    <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6">
                                                        <div class="input-item input-item-name ltn__custom-icon">
                                                            <input type="text" name="MinSize" placeholder="Min size (in sqm)">
                                                        </div>
                                                    </div>
                                                    <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6">
                                                        <div class="input-item input-item-name ltn__custom-icon">
                                                            <input type="text" name="MaxSize" placeholder="Max size (in sqm)">
                                                        </div>
                                                    </div>

                                                 

                                                    <div class="ltn__car-dealer-form-item col-lg-12">
                                                        <label for="maxPriceSlider" class="form-label" style="font-weight: bold; color: #333;">
                                                            Max Price (JOD): <span id="priceValue">1,000,000</span>
                                                        </label>
                                                        <input type="range" name="MaxPrice" id="maxPriceSlider" min="50" max="2000000" step="1000" value="1000000" class="custom-slider" />
                                                    </div>



                                              
                                                        <div class="btn-wrapper text-center">
                                                            <button type="submit" style="margin-right:15vw;" class="btn theme-btn-1 btn-effect-1 text-uppercase">Search</button>
                                                            
                                                        </div>
                                                   
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SLIDER AREA END -->
        <!-- PRODUCT SLIDER AREA START -->
        <div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2--- text-center">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Property</h6>
                            <h1 class="section-title">Latest Listings</h1>
                        </div>
                    </div>
                </div>
                <div class="row ltn__product-slider-item-three-active--- slick-arrow-1">
                    @foreach (var property in Model.LatestProperties)
                    {

                        var favoriteIds = ViewBag.FavoriteIds as List<int> ?? new List<int>();
                        var isFavorited = favoriteIds.Contains(property.Id);


                        <!-- ltn__product-item -->
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                                <div class="product-img">
                                    <a href="/Properties/PropertyDetails/@property.Id"><img src="@property.ImageUrl1" style="width: 100%; height: 250px; object-fit: cover;" alt="#"></a>

                                </div>
                                <div class="product-info">
                                    <div class="product-badge">
                                        <ul>
                                            <li class="sale-badg">@property.PropertyStatus</li>
                                        </ul>
                                    </div>
                                    <h2 style="color: #ff5a3c;" class="product-title">@property.PropertyName</h2>
                                    <div class="product-img-location">
                                        <ul>
                                            <li>
                                                <i class="flaticon-pin"></i> @property.SubLocation.SublocationName
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                        <li>
                                            <span>@property.Bedrooms </span>
                                            Bedrooms
                                        </li>
                                        <li>
                                            <span>@property.Bathrooms </span>
                                            Bathrooms
                                        </li>
                                        <li>
                                            <span>@property.Size </span>
                                            square m
                                        </li>
                                    </ul>
                                    <div class="product-hover-action">
                                        <ul>

                                            <li>
                                              
                                                <form asp-controller="Home" asp-action="ToggleFavorite" method="post" class="d-inline">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="propertyId" value="@property.Id" />
                                                    <button type="submit" title="Toggle favorite"
                                                    style="border: none; background: none; font-size: 20px;">
                                                        <i class="@(isFavorited ? "fas fa-heart text-danger" : "far fa-heart text-secondary")"></i>
                                                    </button>
                                                </form>


                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info-bottom">
                                    <div class="product-price">
                                        <span>@property.Price JD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- PRODUCT SLIDER AREA END -->
                <!-- FEATURE AREA START ( Feature - 6) -->
                <div class="ltn__feature-area section-bg-1 pt-120 pb-90 mb-120---">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title-area ltn__section-title-2--- text-center">
                                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Services</h6>
                                    <h1 class="section-title">Our Main Focus</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row ltn__custom-gutter--- justify-content-center">
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                                    <div class="ltn__feature-icon">
                                        <!-- <span><i class="flaticon-house"></i></span> -->
                                        <img src="img/icons/icon-img/21.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h3 style="color: #ff5a3c;"><a href="Properties.html">Looking for a <br /> tailored nest?</a></h3>
                                        <p>
                                            Explore a wide range of listings tailored to your needs.
                                        </p>
                                        <a class="ltn__service-btn" href="Properties/Properties">Find A Home <i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                                    <div class="ltn__feature-icon">
                                        <!-- <span><i class="flaticon-deal-1"></i></span> -->
                                        <img src="img/icons/icon-img/23.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h3 style="color: #ff5a3c;"><a href="InteriorDesign/interiorDesign">Professional interior designers!</a></h3>
                                        <p>
                                            Our designers help you to transform your space into a dream home. 
                                        </p>
                                        <a class="ltn__service-btn" href="InteriorDesign/interiorDesign">Design Your Home <i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- FEATURE AREA END -->
                <!-- PRODUCT SLIDER AREA START -->
                <div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-90 plr--7">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title-area ltn__section-title-2--- text-center">
                                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Properties</h6>
                                    <h1 class="section-title">Featured Listings</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row ltn__product-slider-item-four-active-full-width slick-arrow-1">
                            <!-- ltn__product-item -->
                            @foreach (var property in Model.FeaturedProperties)
                            {

                                    var favoriteIds = ViewBag.FavoriteIds as List<int> ?? new List<int>();
                                    var isFavorited = favoriteIds.Contains(property.Id);

                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                                        <div class="product-img">
                                            <a href="Properties/PropertyDetails/@property.Id"><img src="@property.ImageUrl1" alt="#"></a>

                                        </div>
                                        <div class="product-info">
                                            <div class="product-badge">
                                                <ul>
                                                    <li class="sale-badg">@property.PropertyStatus</li>
                                                </ul>
                                            </div>
                                            <h2 style="color: #ff5a3c;" class="product-title">@property.PropertyName</h2>
                                            <div class="product-img-location">
                                                <ul>
                                                    <li>
                                                        <i class="flaticon-pin"></i> @property.SubLocation.SublocationName
                                                    </li>
                                                </ul>
                                            </div>
                                            <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                                <li>
                                                    <span>@property.Bedrooms </span>
                                                    Bedrooms
                                                </li>
                                                <li>
                                                    <span>@property.Bathrooms </span>
                                                    Bathrooms
                                                </li>
                                                <li>
                                                    <span>@property.Size </span>
                                                    square m
                                                </li>
                                            </ul>
                                            <div class="product-hover-action">
                                                <ul>
                                                  
                                                    <li>
                                                      
                                                            <form asp-controller="Home" asp-action="ToggleFavorite" method="post" class="d-inline">
                                                                @Html.AntiForgeryToken()
                                                                <input type="hidden" name="propertyId" value="@property.Id" />
                                                                <button type="submit" title="Toggle favorite"
                                                                        style="border: none; background: none; font-size: 20px;">
                                                                    <i class="@(isFavorited ? "fas fa-heart text-danger" : "far fa-heart text-secondary")"></i>
                                                                </button>
                                                            </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-info-bottom">
                                            <div class="product-price">
                                                <span>@property.Price JD</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                </div>
            </div>
        </div>





        <!-- PRODUCT SLIDER AREA END -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Interior Design</h6>
                    <h1 class="section-title">Some of our work</h1>
                </div>
            </div>
        </div>

        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/Int-slider1_resized.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/Int-slider2_resized.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/Int-slider3_resized.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/Int-slider4.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/Int-slider5.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/Int-slider6.jpg" class="d-block w-100" alt="...">
                </div>
            </div>

            <!-- Navigation buttons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <!-- TESTIMONIAL AREA START (testimonial-7) -->
        <div class="ltn__testimonial-area section-bg-1--- bg-image-top pt-115 pb-70" data-bs-bg="img/bg/20.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2--- text-center">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Testimonial</h6>
                            <h1 class="section-title">Clients Feedback</h1>
                        </div>
                    </div>
                </div>
                <div class="row ltn__testimonial-slider-5-active slick-arrow-1">
                    <div class="col-lg-4">
                        <div class="ltn__testimonial-item ltn__testimonial-item-7">
                            <div class="ltn__testimoni-info">
                                <p>
                                    <i class="flaticon-left-quote-1"></i>
                                    Nestify made selling my home so easy!
                                    The platform is intuitive, and I received multiple offers within days it was great. Highly recommend!
                                </p>
                                <div class="ltn__testimoni-info-inner">
                                    <div class="ltn__testimoni-img">
                                        <img src="img/Sara.jpg" alt="#">
                                    </div>
                                    <div class="ltn__testimoni-name-designation">
                                        <h5 style="color:grey">Sara Mohammad</h5>
                                        <label>Real Estate</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__testimonial-item ltn__testimonial-item-7">
                            <div class="ltn__testimoni-info">
                                <p>
                                    <i class="flaticon-left-quote-1"></i>
                                    I needed legal guidance when buying my first property,
                                    and Nestify’s legal section connected me with a great lawyer.
                                    It was seamless!
                                </p>
                                <div class="ltn__testimoni-info-inner">
                                    <div class="ltn__testimoni-img">
                                        <img src="img/Lina.jpg" alt="#">
                                    </div>
                                    <div class="ltn__testimoni-name-designation">
                                        <h5 style="color:grey">Lina Ahmad</h5>
                                        <label>Legal Matters</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__testimonial-item ltn__testimonial-item-7">
                            <div class="ltn__testimoni-info">
                                <p>
                                    <i class="flaticon-left-quote-1"></i>
                                    Finding my dream home was a breeze with Nestify.
                                    The detailed property listings and direct contact with sellers saved me so much time!
                                </p>
                                <div class="ltn__testimoni-info-inner">
                                    <div class="ltn__testimoni-img">
                                        <img src="img/testimonial/3.jpg" alt="#">
                                    </div>
                                    <div class="ltn__testimoni-name-designation">
                                        <h5 style="color:grey">Tariq Khaled</h5>
                                        <label>Real Estate</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__testimonial-item ltn__testimonial-item-7">
                            <div class="ltn__testimoni-info">
                                <p>
                                    <i class="flaticon-left-quote-1"></i>
                                    I wanted to renovate my new apartment.
                                    Thanks to Nestify, I found a talented interior
                                    designer who transformed my space beautifully!
                                </p>
                                <div class="ltn__testimoni-info-inner">
                                    <div class="ltn__testimoni-img">
                                        <img src="img/Hassan.jpg" alt="#">
                                    </div>
                                    <div class="ltn__testimoni-name-designation">
                                        <h5 style="color:grey">Hassan Saleem</h5>
                                        <label>Interior Design</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!-- TESTIMONIAL AREA END -->
                @section Scripts {

                        <script>

                            const locationSelect = document.getElementById("LocationId");
                            const sublocationSelect = document.getElementById("SubLocationId");

                            locationSelect.addEventListener("change", function () {

                                const locationId = this.value;

                                if (!locationId) {
                                    sublocationSelect.innerHTML = '<option value="">Select Sub-location</option>';
                                    return;
                                }

                                fetch('@Url.Action("GetSublocationsByLocation", "User")' + '?locationId=' + locationId)
                                    .then(response => response.json())
                                    .then(data => {
                                        sublocationSelect.innerHTML = '<option value="">Select Sub-location</option>';
                                        data.forEach(sub => {
                                            const option = document.createElement("option");
                                            option.value = sub.id;
                                            option.textContent = sub.sublocationName;
                                            sublocationSelect.appendChild(option);
                                        });
                                    })
                                    .catch(error => {
                                        console.error("Error fetching sublocations:", error);
                                        sublocationSelect.innerHTML = '<option value="">Failed to load sublocations</option>';
                                    });
                            });
                        </script>







                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        @if (TempData["Success"] != null)
                        {
                            <text>
                                    Swal.fire("Success", "@TempData["Success"]", "success");
                            </text>
                        }
                        else if (TempData["Info"] != null)
                        {
                            <text>
                                    Swal.fire("Notice", "@TempData["Info"]", "info");
                            </text>
                        }
                        else if (TempData["Error"] != null)
                        {
                            <text>
                                    Swal.fire("Oops!", "@TempData["Error"]", "error");
                            </text>
                        }
                    </script>

                        <script>
                            const priceSlider = document.getElementById("maxPriceSlider");
                            const priceValue = document.getElementById("priceValue");


                       

                            priceSlider.addEventListener("input", function () {
                                priceValue.textContent = parseInt(this.value).toLocaleString();
                            });
                        </script>


                }
